<!DOCTYPE html>
<br>
<div class="card mb-3i mx-auto"style="max-width: 900px;">
  <div class="row no-gutters mx-auto">
    <div class="col-md-4 mx-auto">
	    <img src="{{image.path}}"class="card-img"alt="{{image.filename}}">
	    <br>
	    <blockquote class="">
                         <form action="/comentary/{{image._id}}"method="POST">
                                 <div class="form-group">
                                         <input type="email"class="form-control"name="email"placeholder="Email">
                                 </div>
                                 <div class="form-group">
                                         <textarea name="comentary"class="form-control"rows="2"placeholder="Tu Comentario"></textarea>
                                 </div>
                                 <div class="form-group">
                                         <button class="btn btn-primary btn-block" id="btn-comment">
                                                 <i class="fa fa-comment"></i>Comentar
                                         </button>
                                 </div>
                         </form>
                 </blockquote>
    </div>
    <div class="col-md-8 mx-auto">
      <div class="card-body mx-auto">
        <h3 class="card-title">Perfil</h3>
	<p class="card-text">Nombre: {{image.name}}</p>
	<p class="card-text">Religion: {{image.religion}}</p>
	<p class="card-text">Persona Favorita: {{image.favorite}}</p>
	<p class="card-text">Edad: {{image.year}}</p>
	<p class="card-text">El Se Describe: {{image.descript}}</p>
	<i class="fa fa-eye"></i>{{image.views}}
	<p class="card-text"><small class="text-muted">{{image.created_at}}</small></p>
	{{#each comentary}}
	  <ul class="list-group p-4"style="max-width: 440px;">
		  <li class="list-group-item">{{comentary}}
			  <small class="text-muted">- {{email}}</small>
			  <p>comentario publicado el <i class="fas fa-clock"></i>{{created_at}}</p>
		  </li>
	  </ul>
	  {{/each}}
      </div>
    </div>
    </div>
</div>
<br>
